<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Get Ticket Info</h2>
    <form th:action="@{/get-ticket}">
        <label for="ticket">Enter  Ticket Number </label>
        <input type="text" name="ticketNum" id="ticket">

        <input type="submit" value="Get Ticket"/>
    </form>
<hr/>
    <table>
        <tr>
            <td> Name :</td>
            <td><p th:text="${ticket.name}"/></td>
        </tr>
        <tr>
            <td> From :</td>
            <td><p th:text="${ticket.from}"/></td>
        </tr>
        <tr>
            <td> To :</td>
            <td> <p th:text="${ticket.to}"/></td>
        </tr>
        <tr>
            <td> DOJ :</td>
            <td><p th:text="${ticket.doj}"/></td>
        </tr>
        <tr>
            <td>Status :</td>
            <td><p th:text="${ticket.status}"/></td>
        </tr>
        <tr>
            <td>Cost :</td>
            <td><p th:text="${ticket.ticketCost}"/></td>
        </tr>
    </table>








</body>
</html>